@model IEnumerable<WebApplication1.Models.ctable>
@{
    ViewBag.Title = "Category";
}
<style>
    .dropdown-submenu {
        position:relative;
    }
    .dropdown-submenu.dropdown-menu {
        top:0;
        left:100%;
        margin-top:-1px;
    }
</style>
<h2>Category</h2>
<div>
    @using (Html.BeginForm("uploadfile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>Upload Category Json file</label>
        <input   type="file" name="jsonfile" required>
        <button  class="btn btn-primary btn-sm float-right"  style="margin-top:3px"type="submit">Upload</button>
    }
</div>
<div style="margin-top:10px">
    <select class="form-control" name="categoty" id="category">
        @foreach (var ctable in Model) { 
            <option value="@ctable.label">@ctable.label</option>
        }
    </select>

</div>
